td img {display: block;}

body {
	margin-left: 0px;
	margin-top: 0px;
	text-align: center !important;
	bgcolor : #FFFFFF;
}

a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #CCC;
}
a:hover {
	text-decoration: none;
	color: #FFF;
}
a:active {
	text-decoration: none;
	color: #CCC;
}

.templateTable{
	width: 1100;
	border: 0;
	align: center;
	cellpadding: 0;
	cellspacing: 0;
	display: inline-table;	
}


.templateTable tr, .templateTable td {
    border: none !important;
    padding: 0 !important;
}

.navTable{
	width: 170; 
	border:0;
	align: center !important; 
	cellpadding: 0; 
	cellspacing: 8;
}

.navTable tr, .navTable td{
	width: 170; 
	border:0;
	align: center !important; 
}
